server:
  port: 8086

spring:
  application:
    name: chronicle-replay-engine

  datasource:
    url: jdbc:postgresql://localhost:5432/chronicle
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
